@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-en: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --radius-xl: 16px;
}

@layer base {
  /* Scrollbar hide utility for horizontal lists */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
